{% extends 'layout.html' %}
{% set active_page = "dashboard" %}
{% block title %} ConfusionMatrix {% endblock %}

{% block body %}
<!-- PAGE CONTAINER-->

<!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section__content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="au-card recent-report">
                        <div class="col-lg-12 row">
                            <div class="col-lg-6">
                                <div class="card border border-primary">
                                    <div class="card-header">
                                        <center><strong class="card-title">Accuracy</strong></center>
                                    </div>
                                    <div class="card-body">
                                        <center><strong class="card-title">{{precission}}%</strong></center>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card border border-primary">
                                    <div class="card-header">
                                        <center><strong class="card-title">Precission</strong></center>
                                    </div>
                                    <div class="card-body">
                                        <center><strong class="card-title">{{precission}}%</strong></center>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card border border-primary">
                                    <div class="card-header">
                                        <center><strong class="card-title">Recall</strong></center>
                                    </div>
                                    <div class="card-body">
                                        <center><strong class="card-title">{{precission}}%</strong></center>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card border border-primary">
                                    <div class="card-header">
                                        <center><strong class="card-title">F1-Score</strong></center>
                                    </div>
                                    <div class="card-body">
                                        <center><strong class="card-title">{{precission}}%</strong></center>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="au-card-inner">
                            <div class="table-responsive">
                                <table id="tbl_testing" class="table table-borderless table-striped table-earning">

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT-->
<script>
    $(document).ready(function(){
        getData();
        function getData(){
            $('#tbl_testing').DataTable({
            ajax : {
                'url' : "{{ url_for('getTesting') }}", //memanggil fungsi gettesting
            },
            //mengatur kolom untuk table
            'columns': [
                    {
                        'title' : "Nama Pesawat",
                        'data' : "namapesawat"
                    },
                    {
                        'title' : "Jenis Pesawat Asli",
                        'data' : "jenispesawatreal"
                    },
                    {
                        'title' : "Hasil",
                        'data' : "result"
                    },
                ]
            });
        }
    });



</script>
<!-- END PAGE CONTAINER-->
</div>
{% endblock %}


