{% extends 'layout.html' %}
{% set active_page = "dashboard" %}
{% block title %} Dataset Process {% endblock %}

{% block body %}
<!-- PAGE CONTAINER-->

<!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section__content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="au-card recent-report">
                        <div class="header-button float-right">
                            <button class="btn btn-outline-primary btn-xs mb-3 mt-3 mr-1 ml-1" type="submit" data-toggle="modal" data-target="#importData"><i class="fa fa-upload"> Upload</i></button>
                        </div>
                        <div class="au-card-inner">
                            <div class="table-responsive">
                                <table id="tbl_process" class="table table-borderless table-striped table-earning">

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="importData">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="card">
                <div class="card-header">
                    <strong>Inline</strong> Form
                </div>
                <div class="card-body card-block">
                    <form action="{{ url_for('importData') }}" method="POST" enctype="multipart/form-data">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group row">
                                <input type="file" name="file" id="file" class="form-control dropify" data-height="100" required>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary btn-sm">
                                <i class="fa fa-dot-circle-o"></i> Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT-->
<script>
    $(document).ready(function(){

        $('#tbl_process').DataTable({
            ajax : {
                'url' : "{{ url_for('getProcessData') }}",
            },
            'columns': [
                    {
                        'title' : "ID",
                        'data' : "id"
                    },
                    {
                        'title' : "Nama",
                        'data' : "nama_pesawat"
                    },
                    {
                        'title' : "Jenis",
                        'data' : "nama_jenis_pesawat"
                    },
                    {
                        'title' : "Jenis Sayap",
                        'data' : "jenis_sayap"
                    },
                    {
                        'title' : "Jenis Penempatan Sayap",
                        'data' : "jenis_penempatan_sayap"
                    },
                    {
                        'title' : "Arah Sayap",
                        'data' : "arah_sayap"
                    },
                    {
                        'title' : "Jenis Mesin",
                        'data' : "jenis_mesin"
                    },
                    {
                        'title' : "Badan Pesawat",
                        'data' : "badan_pesawat"
                    },
                    {
                        'title' : "Persenjataan",
                        'data' : "persenjataan"
                    },
                    {
                        'title' : "Warna",
                        'data' : "warna"
                    },
                ]

        });
    });
</script>
<!-- END PAGE CONTAINER-->
</div>
{% endblock %}


