{% extends 'layout.html' %}
{% set active_page = "dashboard" %}
{% block title %} Dataset Process {% endblock %}

{% block body %}
<!-- PAGE CONTAINER-->

<!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section__content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">

                    <!-- <div class="col-lg-12 row">
                        <div class="col">
                            <div class="card border border-primary">
                                <div class="card-header">
                                    <center><strong class="card-title">Accuracy</strong></center>
                                </div>
                                <div class="card-body">
                                    <center><strong class="card-title">{{precission}}%</strong></center>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card border border-primary">
                                <div class="card-header">
                                    <center><strong class="card-title">Precission</strong></center>
                                </div>
                                <div class="card-body">
                                    <center><strong class="card-title">{{precission}}%</strong></center>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card border border-primary">
                                <div class="card-header">
                                    <center><strong class="card-title">Recall</strong></center>
                                </div>
                                <div class="card-body">
                                    <center><strong class="card-title">{{precission}}%</strong></center>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card border border-primary">
                                <div class="card-header">
                                    <center><strong class="card-title">F1-score</strong></center>
                                </div>
                                <div class="card-body">
                                    <center><strong class="card-title">{{precission}}%</strong></center>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <div class="au-card recent-report">
                        <div class="au-card-inner">
                            <div class="table-responsive">
                                <table id="tbl_process" class="table table-borderless table-striped table-earning">

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="importData">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="card">
                <div class="card-header">
                    <strong>Inline</strong> Form
                </div>
                <div class="card-body card-block">
                    <form action="{{ url_for('importData') }}" method="POST" enctype="multipart/form-data">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group row">
                                <input type="file" name="file" id="file" class="form-control dropify" data-height="100" required>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary btn-sm">
                                <i class="fa fa-dot-circle-o"></i> Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT-->
<script>
    $(document).ready(function(){

        $('#tbl_process').DataTable({
            ajax : {
                'url' : "{{ url_for('getProcessData') }}", //memanggil fungsi getPtocessdata dari route
            },
            //mengatur kolom untuk table
            'columns': [
                    {
                        'title' : "ID",
                        'data' : "id_pesawat",
                        'className': "text-center",
                    },
                    {
                        'title' : "Nama Pesawat",
                        'data' : "nama_pesawat",
                    },
                    {
                        'title' : "Jenis Pesawat",
                        'data' : "jenis_pesawat",
                    },
                    {
                        'title' : "Fusi Informasi",
                        'data' : "fusi"
                    },
                    {
                        'title' : "Jumlah Fusi",
                        'data' : "jumlah_fusi",
                        'className': "text-center",
                    },
                    {
                        'title' : "P(X|CI)",
                        'data' : "naive_bayes"
                    },
             ],
        });
    });
</script>
<!-- END PAGE CONTAINER-->
</div>
{% endblock %}


